@page "/"
@using Chat.Client.Services
@using Chat.Shared.Dtos
@using Chat.Shared.Models
@using Chat.Client.Components
@inject NavigationManager NavigationManager
@inject IUserService UserService
@inject IMessageService MessageService
@implements IDisposable
@if (_currentUser == null)
{
    <MudProgressCircular Indeterminate="true" />
}
else
{

    <div class="chat-container">
        <ChatUserPanel CurrentUser="_currentUser" OnLoadUser="LoadUsersAsync" OnUserSelected="SelectUserAsync" Users="_users" />

        <ChatChatPanel CurrentUser="_currentUser" Messages="_messages" OnSend="SendMessageAsync" OnLoadMessages="LoadMessagesAsync" SelectedUser="_selectedUser" />
    </div>

}

@code {
    private User? _currentUser;
    private List<User> _users = new();
    private User? _selectedUser;
    private List<Message> _messages = new();




    protected override async Task OnInitializedAsync()
    {
        _currentUser = await UserService.GetCurrentUserAsync();

        if (_currentUser == null)
        {
            NavigationManager.NavigateTo("/login");
            return;
        }

        await LoadUsersAsync();

    }



    private async Task LoadUsersAsync()
    {
        _users = await UserService.GetUsersAsync();
        StateHasChanged();
    }

    private async Task SelectUserAsync(User user)
    {
        _selectedUser = user;
        await LoadMessagesAsync();
    }

    private async Task LoadMessagesAsync()
    {
        if (_currentUser == null || _selectedUser == null)
            return;

        _messages = await MessageService.GetMessagesAsync(_currentUser.Id, _selectedUser.Id);
        StateHasChanged();

    }

    private async Task SendMessageAsync(string message)
    {
        if (string.IsNullOrWhiteSpace(message) || _currentUser == null || _selectedUser == null)
            return;

        var messageDto = new SendMessageDto
            {
                Content = message,
                SenderId = _currentUser.Id,
                ReceiverId = _selectedUser.Id
            };

        await MessageService.SendMessageAsync(messageDto);

        await LoadMessagesAsync();
    }



    

    public void Dispose() { }

}